commands: 
  create_post_dir: 
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files: 
  /opt/elasticbeanstalk/hooks/appdeploy/post/99_provision.sh: 
    content: |-
        #!/usr/bin/env bash
        export CONFIG_FILE=/opt/elasticbeanstalk/deploy/configuration/containerconfiguration
        VARS=$(python << END 
        import json, os
        with open (os.environ["CONFIG_FILE"]) as f:
            j = json.load(f)
        print " ".join(j['optionsettings']['aws:elasticbeanstalk:application:environment']) 
        END)
        export $VARS
        echo "env vars"
        echo $VARS
        NODE_PATH=/opt/elasticbeanstalk/node-install/node-v4.4.3-linux-x64/bin/node
        #provision
        su -s /bin/bash -c "$NODE_PATH /var/app/current/provision" nodejs
        #provisioning complete callback
        /usr/bin/curl  http://xi-sim-deploy.us-east-1.elasticbeanstalk.com/provisioning-complete/$EB_ENV_NAME
    group: root
    mode: "000755"