.imageLeft {
	background-color:red;
	width: 200px;
	height: 200px;
}

.imageRight {
	background-color:green;
	width: 200px;
	height: 200px;
}

.imageBackLeft {
	background-color:blue;
	width: 200px;
	height: 200px;
}

.imageBackRight {
	background-color:black;
	width: 200px;
	height: 200px;
}

.imageTop {
	background-color:orange;
	width: 200px;
	height: 200px;
}

.imageBottom {
	background-color:white;
	width: 200px;
	height: 200px;
}
